.element{
    z-index: 5;
    position: absolute;
    background-color:  #FEF3EB;
    border-radius: 50%;
    width: 90%;
    height: 1264px;
    margin: 100px auto;
    margin-bottom: 0px;
    top: 698px;
    // left: 53px;
    gap: 0px;
    align-self: center;
    align-items: center;
    justify-content: center;
    // opacity: 0px;

    .img{
        margin: auto;
        width: 872px;
        img{
        margin-top: -65px;
        }
    }
}


@media screen and (max-width: 900px){
        .element{
        background-color: #ffffff;
        left: 10px;
        width: 400px;
        height: 579px;
        margin-top: 2px;
        .img{
            width: 100px;
            margin-left: -70px;
            img {
                width: 550px;
                height: 679px;
                margin-top: 5px;
                
            }
        }
    }
}
