.element{
    z-index: 5;
    position: absolute;
    background-color:  #FEF3EB;
    border-radius: 50%;
    width: 100%;
    height: 1264px;
    margin: 150px auto ;
    // margin-bottom: 30px;
    top: 690px;
    left: 0px;
    // gap: 0px;
    align-self: center;
    align-items: center;
    justify-content: center;
    // opacity: 0px;

    .img{
        margin: auto;
        width: 872px;
        height: 762.57px;
        img{
        margin-top: -75px;
        width: 100%;
        height: 100%;
        }
    }
    .imgP{
        display: block;
    }
}
// }


@media screen and (max-width: 500px){
        .element{
        background-color: #ffffff;
        left: 10px;
        width: 420px;
        margin: auto;
        // width: 72.3%;
        height: 608px;
        margin-top: 51px;
        .img{
            display: none;
        }
        .imgP{
            display: block;
            // width: 580px;
            width: 138.1%;
            margin-left: -90px;
            margin-right: auto;
            height: 608px;
            img {
                width: 100%;
                height: 100%;
                margin-top: -75px;
                
            }
        }
    }
}
