*{
    margin: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    /* height: 1366px; */
    /* overflow: hidden; */
    /* height: 879px; */
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #F58634;
    border-radius: 50%;
  }