.logo {
    margin: auto;
    width: 166px;
    height: 39px;
    // gap: 10px;
    opacity: 3;
    // box-shadow: 0px 4px 4px 0px #00000040;
    // opacity: 1px;
    margin-top: 58px;

}

@media screen and (max-width: 700px){
    .logo{
        margin-left: 11px;
        margin-top: 33px;
    }
}

@media screen and (max-width: 400px){
    .logo{
        margin-left: 12px;
        margin-top: 33px;
    }
}