.App{
    height: 879px;
    // overflow: hidden;
    scrollbar-width: 0px;
    background-color: #ffffff;
}

@media screen and (max-width: 600px){
    .App{
        height: 1052px;
        // width: 580px;
        // overflow-x: visible;
    }
}